# Assignment 1:
### - The automated_stat_analyzer Function
- Scenario: A retail company needs a utility to quickly summarize sales data. Students must create a function that identifies the 
"Central Tendency" and "Dispersion" of any numerical column.
- ### Requirements:

* Accept a Pandas DataFrame and a column name.

* Calculate the Mean, Median, and Standard Deviation .

* Identify if the data is "Skewed" by comparing the Mean and Median.


* Bonus: If the column is categorical, return the Mode instead.

### Your Data

In [2]:
import pandas as pd
import numpy as np

# Create a synthetic Company Sales Dataset
data = {
    'Transaction_ID': range(1, 11),
    'Product_Category': ['Electronics', 'Home', 'Electronics', 'Sports', 'Home', 
                         'Electronics', 'Home', 'Sports', 'Electronics', 'Electronics'],
    'Sales_Amount': [150, 200, 155, 300, 210, 180, 205, 1000, 190, 160], # 1000 is an Outlier
    'Customer_Age': [25, 34, np.nan, 45, 23, 31, 29, np.nan, 38, 40],    # Contains Nulls (NaN)
    'Rating': [5, 4, 3, 5, 2, 4, 5, 2, 4, 3]
}

df_test = pd.DataFrame(data)

# Save to CSV for students to practice loading files [cite: 74]
df_test.to_csv('company_sales_test.csv', index=False)
print("Test dataset created successfully!")

Test dataset created successfully!

In [3]:
df_test.head()

   Transaction_ID Product_Category  Sales_Amount  Customer_Age  Rating
0               1      Electronics           150          25.0       5
1               2             Home           200          34.0       4
2               3      Electronics           155           NaN       3
3               4           Sports           300          45.0       5
4               5             Home           210          23.0       2

In [ ]:
import pandas as pd
import numpy as np

def automated_stat_analyzer(df, column_name):
    series = df[column_name].dropna()
    result = {}
    if pd.api.types.is_numeric_dtype(series):
        mean_var = series.mean()
        median_var = series.median()
        std_var = series.std()
        if mean_var > median_var:
            skewness = "Right Skewed"
        elif mean_var < median_var:
            skewness = "Left Skewed"
        else:
            skewness = "Approximately Symmetric"
        result = {
            "Mean": mean_var,
            "Median": median_var,
            "Standard Deviation": std_var,
            "Skewness": skewness
        }
    else:
        mode_var = series.mode()[0]
        result = {
            "Mode": mode_var
        }
    return result
#examples to try
#automated_stat_analyzer(df_test, "Sales_Amount")
#automated_stat_analyzer(df_test, "Customer_Age")
automated_stat_analyzer(df_test, "Product_Category") #bonus categorical

{'Mode': 'Electronics'}

## Assignment 2: 
  ### The null_handling_strategy Function

#### Scenario: Incoming user data often has missing values.Students must implement a flexible strategy to handle these "Null Values" to prepare data for Machine Learning.
### Requirements:

* Check for null values in the DataFrame.

* Apply a strategy based on parameters: "drop_rows", "fill_mean", or "fill_median" .

* Ensure the function only fills numerical columns when using mean or median.

In [6]:
def null_handling_strategy(df, strategy="fill_mean"):
    """
    Company Task: Clean a dataset by resolving missing (NaN) values.
    """
    # TODO: Implement using .isnull(), .dropna(), or .fillna() you can used Customer_Age for your test case
    pass

In [15]:
def null_handling_strategy(df, strategy="fill_mean"):
    if strategy =='drop rows':
        return df.dropna()
    elif strategy =='fill mean':
        numeric_cols = df.select_dtypes(include=[np.number]).columns
        for col in numeric_cols:
            df = df.fillna({col: df[col].mean()})
        return df
    elif strategy == 'fill median':
        numeric_cols = df.select_dtypes(include=[np.number]).columns
        for col in numeric_cols:
            df = df.fillna({col: df[col].median()})
        return df
    elif df.isnull().sum().sum() == 0:
        return df
    else:
         raise ValueError('strategy must be drop rows or fill mean or fill median')
    return df

In [18]:
print("Before cleaning:")
print(df_test["Customer_Age"])
cleaned_df = null_handling_strategy(df_test, strategy="fill mean")
print("\nAfter filling mean:")
print(cleaned_df["Customer_Age"])
cleaned_df = null_handling_strategy(df_test, strategy="fill median")
print("\nAfter filling median:")
print(cleaned_df["Customer_Age"])

Before cleaning:
0    25.0
1    34.0
2     NaN
3    45.0
4    23.0
5    31.0
6    29.0
7     NaN
8    38.0
9    40.0
Name: Customer_Age, dtype: float64

After filling mean:
0    25.000
1    34.000
2    33.125
3    45.000
4    23.000
5    31.000
6    29.000
7    33.125
8    38.000
9    40.000
Name: Customer_Age, dtype: float64

After filling median:
0    25.0
1    34.0
2    32.5
3    45.0
4    23.0
5    31.0
6    29.0
7    32.5
8    38.0
9    40.0
Name: Customer_Age, dtype: float64